img{ width: 320px;}
body {background-color: #42f5f5;}
h1 {background-color: #e88be0;}
p {background-color: #40e384;}
li {background-color: #f54c0f;}
.a{
    background-color: #e7eb1e;
    color: black;
    text-align: center;
    font-size: 26px;
    font-family: 'Big Shoulders Inline Text', cursive;
}
.b{
    background-color: #c47702;
    color: black;
    text-align: center;
    font-size: 22px;
    font-family: 'Big Shoulders Inline Text', cursive;
}
body {background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTOwv5V5sJQAv29sEmPjE3QCA9oUcKhb46kPg&usqp=CAU");

}
